cfgv==3.5.0
coverage==7.16.2
distlib==0.4.3
filelock==4.0.7
identify==2.6.20
iniconfig==2.3.0
mypy==1.11.2
mypy_extensions==1.1.0
nodeenv==1.11.0
packaging==26.3
platformdirs==4.12.1
pluggy==1.6.0
pre-commit==3.8.0
pytest==8.3.3
pytest-cov==5.0.0
python-discovery==1.6.1
PyYAML==6.0.3
ruff==0.6.9
typing_extensions==4.16.0
virtualenv==21.14.1
